{% extends 'base.html.twig' %}

{% block title %}Hello TaskController!{% endblock %}

{% block body %}

<div class="tasks">
    <h3>All Tasks:</h3>
</div>

<ul>
    {% for task in tasks %}
        <li>{{ task.task }}</li>
    {% endfor %}
</ul>

{% endblock %}
