<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css" integrity="sha384-LTIDeidl25h2dPxrB2Ekgc9c7sEC3CWGM6HeFmuDNUjX76Ert4Z4IY714dhZHPLd" crossorigin="anonymous">
        <link rel="stylesheet" href="{{absolute_url('css/style.css')}}" title="" type="">
        {% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
    <body>

        {% for message in app.flashes('notice')%}
        <div class="flash flash-notice">
            <p>{{message}}</p>
        </div>
        {% endfor %}

        {% block body %}{% endblock %}
    </body>
</html>
